<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" /> <!-- FILE_LOG_PATTERN 변수 사용 -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" /> <!-- CONSOLE appender 사용 -->

    <!-- 로그 변수 값 설정 -->
    <springProperty name="LOG_PATH" source="log.config.path" />
    <springProperty name="LOG_FILENAME" source="log.config.filename" />
    <springProperty name="LOG_MAX_HISTORY" source="log.config.maxHistory" />
    <springProperty name="LOG_MAX_FILE_SIZE" source="log.config.maxFileSize" />

    <!-- profile dev 또는 prod 경우에만, 파일(FILE) 생성 -->
    <springProfile name="dev, prod">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${LOG_FILENAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
            </rollingPolicy>
        </appender>
    </springProfile>

    <!-- spring profile 별 로그 설정 -->
    <springProfile name="local">
        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="dev, prod">
        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="org.springframework.web" level="debug">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>
</configuration>